{% extends 'base.html' %}

{% block extra_title %}
Edit Comment
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h2 class="card-title">Edit Comment</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Save Changes</button>
                        <a href="{% url 'review_detail' comment.review.id %}" class="btn btn-secondary"
                            aria-label="Cancel">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}