{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for review in latest_reviews %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ review.title }}</h5>
                    <p class="card-text">Golf Course: {{ review.golf_course.name }}</p>
                    <p class="card-text">Rating: {{ review.rating }}</p>
                    <p class="card-text"><small class="text-muted">By: {{ review.user.username }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}