{% extends 'base.html' %}

{% block extra_title %}
All Golf Courses
{% endblock %}

{% block content %}
<div class="container">
    <h2>Golf Courses</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'add_review' %}" class="btn btn-success mb-4">Add review</a>
    {% endif %}
    <div class="row">
        {% for golfcourse in golfcourses_page %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h5 class="card-title">{{ golfcourse.name }}</h5>
                    <p class="card-text">Location: {{ golfcourse.location }}</p>
                    <p class="card-text">Holes: {{ golfcourse.holes_amount }}</p>
                    {% if golfcourse.extra_facilities %}
                        <p class="card-text">Extra Facilities: {{ golfcourse.extra_facilities }}</p>
                    {% endif %}
                    {% if golfcourse.url %}
                        <p class="card-text"><a href="{{ golfcourse.url }}" class="btn btn-secondary" target="_blank">Visit Website</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
            <span>
                Page {{ golfcourses_page.number }} of {{ golfcourses_page.paginator.num_pages }}. 
            </span>
            {% if golfcourses_page.has_previous %}
                <a href="?page={{ golfcourses_page.previous_page_number }}">&laquo; Previous </a>
            {% endif %}
            {% if golfcourses_page.has_next %}
                <a href="?page={{ golfcourses_page.next_page_number }}"> Next &raquo;</a>
            {% endif %}
    </div>
</div>
{% endblock %}