* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.nav-container .nav {
    display: flex;
    flex-direction: row;
}

main {
    flex: 1 0 auto;
    min-height: auto;
}