* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.nav-container .nav {
    display: flex;
    flex-direction: row;
}

main {
    flex: 1 0 auto;
    min-height: auto;
}

/*style for pagination*/
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #28a745;
}

.pagination span {
    margin: 0 10px;
}

/*style for footer*/
.fa-github {
    font-size: 1.4em;
}

.no-link-color {
    color: inherit;
}

.github-icon:hover {
    color: lightgrey;
}